<!DOCTYPE html>
<html>
  <head>
    <title>Barchart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
    </head>
  <body>
    <div class="container">
     <svg height="30" width="1000">
      <text x="0" y="15" fill="green">Below barchart showing year by total count of world wide Malaria deaths.(Moues over on bar to get count)</text>
    </svg> 
    </div>
    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script type="text/javascript">
    data_values={{data_group_year_values}}
    data_index={{data_group_year_index}}

    var mySVG = d3.select("body")
      .append("svg")
      .attr("width", 500) 
      .attr("height", 500)
      .style('position','absolute')
      .style('top',50)
      .style('left',40)
      .attr('class','fig');


    var heightScale = d3.scale.linear()
      .domain([0, d3.max(data_values)])
      .range([0, 400]);

    mySVG.selectAll(".xLabel")
      .data(data_index)
      .enter().append("svg:text")
      .attr("x", function(d,i) {return 113 + (i * 22);})
      .attr("y", 435)
      .attr("text-anchor", "middle") 
      .text(function(d) {return d;})
      .attr('transform',function(d,i) {return 'rotate(-90,' + (113 + (i * 22)) + ',435)';}); 

    mySVG.selectAll(".yLabel")
      .data(heightScale.ticks(10))
      .enter().append("svg:text")
      .attr('x',80)
      .attr('y',function(d) {return 400 - heightScale(d);})
      .attr("text-anchor", "end") 
      .text(function(d) {return d;}); 

    mySVG.selectAll(".yTicks")
      .data(heightScale.ticks(10))
      .enter().append("svg:line")
      .attr('x1','90')
      .attr('y1',function(d) {return 400 - heightScale(d);})
      .attr('x2',320)
      .attr('y2',function(d) {return 400 - heightScale(d);})
      .style('stroke','lightgray'); 

    var myBars = mySVG.selectAll('rect')
      .data(data_values)
      .enter()
      .append('svg:rect')
      .attr('width',20)
      .attr('height',function(d,i) {return heightScale(d);})
      .attr('x',function(d,i) {return (i * 22) + 100;})
      .attr('y',function(d,i) {return 400 - heightScale(d);})
      .style('fill','lightblue')
      .on('mouseover', function(d,i) { 
         d3.select(this)
            .style('fill','gray'); 
         statusText 
            .text(d)
            .attr('fill','white')
            .attr("text-anchor", "start") 
            .attr("x", (i * 22) + 105) 
            .attr("y", 414) 
            .attr('transform', 'rotate(-90,' + (100 + (i * 22)) + ',400)'); }) 
      .on('mouseout', function(d,i) { 
         statusText 
           .text(''); 
         d3.select(this)
           .style('fill','lightblue'); 
      }); 
   var statusText = mySVG.append('svg:text');
   </script>
   </body>
   </html>