<!DOCTYPE html>
<html>
  <head>
    <title>Malaria Eradication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h2>Maleria desease analysis <a href="http://apps.who.int/gho/data/node.main.A1367?lang=en">Data reference</a></h2>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#bar">Bar chart</a></li>
        <li><a data-toggle="tab" href="#circle">Circle</a></li>
        <li><a data-toggle="tab" href="#scater">Scater</a></li>
        <li><a data-toggle="tab" href="#tree">Tree</a></li>
      </ul>

      <div class="tab-content">
        <div id="bar" class="tab-pane fade in active">
          {% include "barchart.html" %}
        </div>
        <div id="circle" class="tab-pane fade">
          
        </div>
        <div id="scater" class="tab-pane fade">
          
        </div>
        <div id="tree" class="tab-pane fade">
          
        </div>
      </div>
    </div>
    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
  </body>
</html>